html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: inline-block;
  margin-top: -.5rem;
  margin-left: -1rem;
  width: 105vw;
  text-align: center;
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}
h1 {
  margin: .3em;
  font-family: "Bevan";
  color: #fff;
}

.list {
  margin: .3em;
  padding: .5em;
  text-align: center;
}

.list li {
  display: inline-block;
  padding: .75em;
  margin: .3em;
  background-color: #713837;
  border-radius: 5px;
}

.list a {
  padding: .75em;
  color: #fff;
  text-decoration: none;
}
